# IMDB Film Data Scraper Function
## Web Scraping Development

## Objectives
* To apply web scraping development work into a film data scraper function

In [1]:
# Install packages, if necessary:
# pip install requests
# pip install beautifulsoup4

# Load libraries and URL:
import requests
import re
from bs4 import BeautifulSoup
import pandas as pd
import psycopg2
import getpass
import sqlalchemy as sa
# import numpy as np
# import seaborn as sns

## Summarizing Film Data Scraper
### UX Summary:
* User provides href to complete IMDB title URL
* Function retrieves the following data:
    * Title
    * Year
    * Budget
    * Opening Weekend
    * Domestic Gross
    * Worldwide Gross
* Function returns DataFrame of IMDB film data

In [4]:
# Exchange rate function to convert budget and box office values to USD
# Ref. Development - IMDB Film Details Jupyter Notebook for more details
def usd_conversion(native_value):
    # Call Exchange Rates API to look up latest USD exchange rates
    r_usd = 'https://api.exchangeratesapi.io/latest?base=USD'
    usd_response = requests.get(r_usd)
    rates = usd_response.json()
    
    # Parse reported value to determine currency used and remove currency code from string
    native_value = native_value.strip()
    if native_value[0] == '$':
        num_value = native_value.replace('$','')
        exchange_rate = 1
    else:
        currency = native_value[:3]
        exchange_rate = rates['rates'][currency]
        num_value = native_value[3:]
    num_value = num_value.replace(',','')
    if num_value.isnumeric() is True:
        usd_value = float(num_value) / exchange_rate
    else:
        usd_value = None
    return usd_value

In [5]:
# Function input is IMDB title href
# Ref. Development - IMDB Film Details Jupyter Notebook for more details

def imdb_film_data(film_href):
    # Append film_href input to full IMDB URL
    url = 'https://www.imdb.com' + film_href
    
    # Parse IMDB URL with BeautifulSoup
    r = requests.get(url)
    soup = BeautifulSoup(r.content, 'html.parser')
    
    # Retrieve film title and release year data
    # Create variables title, year
    imdbFilmdata = soup.find('div', class_ = 'title_wrapper')
    title_year = imdbFilmdata.h1.text
    if imdbFilmdata.h1.span is None:
        title_year = title_year.replace(u'\xa0',u' ')
        title = title_year.strip()
        year = None
        pass
    else:
        yearbrackets = imdbFilmdata.h1.span.text
        title = title_year[:-len(yearbrackets)-2]
        yearstr = yearbrackets[1:len(yearbrackets)-1]
        year = int(yearstr)
    
    # Retrieve IMDB Rating and number of ratings submitted data
    # Create variables imdbRating, imdbRatingQty
    imdbRatingdata = soup.find('div', class_ = 'imdbRating')
    if imdbRatingdata is None:
        imdbRating = None
        imdbRatingQty = None
        pass
    else:
        str_imdbRating = imdbRatingdata.strong.text
        str_imdbRatingQty = imdbRatingdata.a.text
        imdbRating = float(str_imdbRating)
        str_imdbRatingQty = str_imdbRatingQty.replace(',','')
        imdbRatingQty = int(str_imdbRatingQty)

    # Retrieve budget data
    # Create variable budgetVal
    budgetTag = soup.find('h4', text = re.compile('^Budg'))
    if budgetTag is None:
        budgetVal = None
        pass
    else:
        str_budgetVal = budgetTag.next_sibling
        budgetVal = usd_conversion(str_budgetVal)

    # Retrieve box office data including opening weekend, gross domestic, and worldwide gross values
    # Create variable openingVal, domesticVal, worldwideVal
    openingTag = soup.find('h4', text = re.compile('^Opening Weekend'))
    if openingTag is None:
        openingVal = None
        pass
    else:
        str_openingVal = openingTag.next_sibling
        openingVal = usd_conversion(str_openingVal)
    
    domesticTag = soup.find('h4', text = re.compile('^Gross '))
    if domesticTag is None:
        domesticVal = None
        pass
    else:
        str_domesticVal = domesticTag.next_sibling
        domesticVal = usd_conversion(str_domesticVal)
    
    worldwideTag = soup.find('h4', text = re.compile('^Cumulative Worldwide Gross'))
    if worldwideTag is None:
        worldwideVal = None
        pass
    else:
        str_worldwideVal = worldwideTag.next_sibling
        worldwideVal = usd_conversion(str_worldwideVal)

    # Return list of film data in prescribed order
    filmdata = [film_href, title, year, imdbRating, imdbRatingQty, budgetVal, openingVal, domesticVal, worldwideVal]
    return filmdata

In [4]:
# Example: Top Gun
imdb_film_data('/title/tt0092099/')

['/title/tt0092099/',
 'Top Gun',
 1986,
 6.9,
 284960,
 15000000.0,
 8193052.0,
 179800601.0,
 356830601.0]


## Summarizing Filmography Data Scraper
### UX Summary:
* User provides href to complete IMDB actor URL
* Function retrieves the following data:
    * All films with Actor credits
    * Associated href for each film to be used in IMDB film data scraper
* Function returns a DataFrame with all IMDB film data for each film

In [10]:
# Function input is IMDB actor href
# Ref. Development - IMDB Actor Filmography Jupyter Notebook for more details
# Time measures added to measure efficiency

# IMDB_filmo_scaper.py
# Ref. Development - IMDB Actor Filmography Jupyter Notebook for more details

def imdb_filmo_scraper(actor_href):
#     # Function timing
#     filmostart = pd.Timestamp.now()
#     print('IMDB Filmography Time Start!')
    
    # Append href input to full IMDB URL
    imdbUrl = 'https://www.imdb.com' + actor_href

    # Parse URL with BeautifulSoup
    r = requests.get(imdbUrl)
    soup = BeautifulSoup(r.content, 'html.parser')
    
    # Retrieve Actor or Actress name
    imdbNameData = soup.find('td', class_ = 'name-overview-widget__section')
    imdbName = imdbNameData.find('span', class_ = 'itemprop')
    fullname = imdbName.text
    
    # Retrieve birthday
    imdbBirthdaytag = soup.find('div', id = 'name-born-info')
    imdbBirthday = imdbBirthdaytag.find('time')
    dob = imdbBirthday.get('datetime')
    
    # Retrieve filmography data
    # Revised for Actor and Actress credits
    films = soup.find_all('div', id = re.compile('^act'))
    
#     # Time milestone - Site parse time
#     siteparsetime = pd.Timestamp.now()
#     print('Site parsed - Time elapsed:')
#     print(siteparsetime - filmostart)

#     startfilmoprocessing = pd.Timestamp.now()

    # Create array, append what each href returns from IMDB Film Data function, then convert array to DataFrame 
    filmsarray = []
    for film in films:
        film_href = film.a.get('href')
        film_row = imdb_film_data(film_href)
        film_row.insert(0, actor_href)
        filmact_id = film_href + actor_href
        film_row.insert(0, filmact_id)
        filmsarray.append(film_row)
        
#         # Time milestone - Each film iteration in array
#         print('Film processed:')
#         print(pd.Timestamp.now())
        
    filmspd = pd.DataFrame(filmsarray, columns = ['filmact_id',
                                                  'actor_href',
                                                  'film_href',
                                                  'title',
                                                  'year',
                                                  'imdb_rating',
                                                  'rating_qty',
                                                  'budget',
                                                  'opening_wknd',
                                                  'domestic_gross',
                                                  'ww_gross'
                                                 ])
#     # Time milestone - Filmography processing done
#     print('Total time:')
#     print(pd.Timestamp.now() - filmostart)
    return filmsarray, filmspd, fullname, dob

In [11]:
# Example: Tom Cruise
# imdb_filmo_scraper('/name/nm0000129/')

# Example: Brad Pitt
# imdb_filmography_data('/name/nm0000093/')

# Example: John David Washington
# imdb_filmography_data('/name/nm0913475/')

# Example: Tom Holland
# European currencies
result_array, result_pd, name, dob = imdb_filmo_scraper('/name/nm4043618/')

In [8]:
result_array

[['/title/tt10872600//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt10872600/',
  'Untitled Spider-Man Sequel',
  2021,
  None,
  None,
  None,
  None,
  None,
  None],
 ['/title/tt1464335//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt1464335/',
  'Uncharted',
  2021,
  None,
  None,
  None,
  None,
  None,
  None],
 ['/title/tt2076822//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt2076822/',
  'Chaos Walking',
  2021,
  None,
  None,
  125000000.0,
  None,
  None,
  None],
 ['/title/tt9130508//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt9130508/',
  'Cherry',
  2020,
  None,
  None,
  None,
  None,
  None,
  None],
 ['/title/tt7395114//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt7395114/',
  'The Devil All the Time',
  2020,
  None,
  None,
  None,
  None,
  None,
  None],
 ['/title/tt7146812//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt7146812/',
  'Onward',
  2020,
  7.4,
  72867,
  None,
  39119861.0,
  61555145.0,
  109440126.0],
 ['/title/tt6673612//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt6673612/',
  'Dolittle',
  2020,
  5.6,
  37887,
  175000000.0,
  21844045.0,
  77047065.0,
  231843516.0],
 ['/title/tt5814534//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt5814534/',
  'Spies in Disguise',
  2019,
  6.8,
  26504,
  100000000.0,
  13354798.0,
  66757013.0,
  171616764.0],
 ['/title/tt11429386//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt11429386/',
  'Audi Presents: Lunch Break',
  2019,
  6.7,
  23,
  None,
  None,
  None,
  None],
 ['/title/tt11107678//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt11107678/',
  "Peter's To-Do List",
  2019,
  7.3,
  233,
  None,
  None,
  None,
  None],
 ['/title/tt6320628//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt6320628/',
  'Spider-Man: Far from Home',
  2019,
  7.5,
  300705,
  160000000.0,
  92579212.0,
  390532085.0,
  1131927996.0],
 ['/title/tt10522456//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt10522456/',
  'Science Fair',
  2019,
  7.2,
  126,
  None,
  None,
  None,
  None],
 ['/title/tt4154796//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt4154796/',
  'Avengers: Endgame',
  2019,
  8.4,
  744550,
  356000000.0,
  357115007.0,
  858373000.0,
  2797800564.0],
 ['/title/tt4154756//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt4154756/',
  'Avengers: Infinity War',
  2018,
  8.4,
  790179,
  321000000.0,
  257698183.0,
  678815482.0,
  2048359754.0],
 ['/title/tt2140507//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt2140507/',
  'The Current War',
  2017,
  6.5,
  15878,
  30000000.0,
  2633717.0,
  5979540.0,
  12341132.0],
 ['/title/tt10244140//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt10244140/',
  'Peter Parker Takes His Driving Test',
  2017,
  7.4,
  242,
  None,
  None,
  None,
  None],
 ['/title/tt2250912//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt2250912/',
  'Spider-Man: Homecoming',
  2017,
  7.4,
  491196,
  175000000.0,
  117027503.0,
  334201140.0,
  880166924.0],
 ['/title/tt7006122//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt7006122/',
  'Spider-Man: Homecoming, NBA Finals: Watch the Game',
  2017,
  7.4,
  1103,
  None,
  None,
  None,
  None],
 ['/title/tt3531202//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt3531202/',
  'Pilgrimage',
  2017,
  5.8,
  4291,
  5627207.600000449,
  None,
  None,
  23689.0],
 ['/title/tt1212428//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt1212428/',
  'The Lost City of Z',
  2016,
  6.6,
  75506,
  30000000.0,
  110175.0,
  8580410.0,
  19263938.0],
 ['/title/tt4526546//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt4526546/',
  'Edge of Winter',
  2016,
  5.4,
  3536,
  None,
  None,
  None,
  None],
 ['/title/tt3498820//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt3498820/',
  'Captain America: Civil War',
  2016,
  7.8,
  641123,
  250000000.0,
  179139142.0,
  408084349.0,
  1153296293.0],
 ['/title/tt1390411//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt1390411/',
  'In the Heart of the Sea',
  2015,
  6.9,
  117858,
  100000000.0,
  11053366.0,
  25020758.0,
  93920758.0],
 ['/title/tt5969758//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt5969758/',
  'Tweet',
  2015,
  6.7,
  189,
  None,
  None,
  None,
  None],
 ['/title/tt3556920//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt3556920/',
  'Wolf Hall',
  None,
  8.1,
  9174,
  None,
  None,
  None,
  None],
 ['/title/tt4085696//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt4085696/',
  'Billy Elliot the Musical Live',
  2014,
  8.5,
  1323,
  None,
  None,
  None,
  3705169.0],
 ['/title/tt1894476//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt1894476/',
  'How I Live Now',
  2013,
  6.5,
  27632,
  8000000.0,
  28547.0,
  60213.0,
  925762.0],
 ['/title/tt2692904//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt2692904/',
  'Locke',
  2013,
  7.1,
  131323,
  2000000.0,
  81006.0,
  1375769.0,
  5090608.0],
 ['/title/tt3359412//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt3359412/',
  'Moments',
  2013,
  6.9,
  101,
  131.56696611878277,
  None,
  None,
  None],
 ['/title/tt1649419//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt1649419/',
  'Lo imposible',
  2012,
  7.6,
  191420,
  45000000.0,
  143818.0,
  19019882.0,
  198087212.0],
 ['/title/tt1568921//name/nm4043618/',
  '/name/nm4043618/',
  '/title/tt1568921/',
  'Kari-gurashi no Arietti',
  2010,
  7.6,
  76954,
  23000000.0,
  6446395.0,
  19587032.0,
  149184563.0]]

In [9]:
result_pd

,filmact_id,actor_href,film_href,title,year,imdb_rating,rating_qty,budget,opening_wknd,domestic_gross,ww_gross
0,/title/tt10872600//name/nm4043618/,/name/nm4043618/,/title/tt10872600/,Untitled Spider-Man Sequel,2021.0,NaN,NaN,NaN,NaN,NaN,NaN
1,/title/tt1464335//name/nm4043618/,/name/nm4043618/,/title/tt1464335/,Uncharted,2021.0,NaN,NaN,NaN,NaN,NaN,NaN
2,/title/tt2076822//name/nm4043618/,/name/nm4043618/,/title/tt2076822/,Chaos Walking,2021.0,NaN,NaN,1.250000e+08,NaN,NaN,NaN
3,/title/tt9130508//name/nm4043618/,/name/nm4043618/,/title/tt9130508/,Cherry,2020.0,NaN,NaN,NaN,NaN,NaN,NaN
4,/title/tt7395114//name/nm4043618/,/name/nm4043618/,/title/tt7395114/,The Devil All the Time,2020.0,NaN,NaN,NaN,NaN,NaN,NaN
5,/title/tt7146812//name/nm4043618/,/name/nm4043618/,/title/tt7146812/,Onward,2020.0,7.4,72867.0,NaN,39119861.0,61555145.0,1.094401e+08
6,/title/tt6673612//name/nm4043618/,/name/nm4043618/,/title/tt6673612/,Dolittle,2020.0,5.6,37887.0,1.750000e+08,21844045.0,77047065.0,2.318435e+08
7,/title/tt5814534//name/nm4043618/,/name/nm4043618/,/title/tt5814534/,Spies in Disguise,2019.0,6.8,26504.0,1.000000e+08,13354798.0,66757013.0,1.716168e+08
8,/title/tt11429386//name/nm4043618/,/name/nm4043618/,/title/tt11429386/,Audi Presents: Lunch Break,2019.0,6.7,23.0,NaN,NaN,NaN,NaN
9,/title/tt11107678//name/nm4043618/,/name/nm4043618/,/title/tt11107678/,Peter's To-Do List,2019.0,7.3,233.0,NaN,NaN,NaN,NaN
10,/title/tt6320628//name/nm4043618/,/name/nm4043618/,/title/tt6320628/,Spider-Man: Far from Home,2019.0,7.5,300705.0,1.600000e+08,92579212.0,390532085.0,1.131928e+09
11,/title/tt10522456//name/nm4043618/,/name/nm4043618/,/title/tt10522456/,Science Fair,2019.0,7.2,126.0,NaN,NaN,NaN,NaN
12,/title/tt4154796//name/nm4043618/,/name/nm4043618/,/title/tt4154796/,Avengers: Endgame,2019.0,8.4,744550.0,3.560000e+08,357115007.0,858373000.0,2.797801e+09
13,/title/tt4154756//name/nm4043618/,/name/nm4043618/,/title/tt4154756/,Avengers: Infinity War,2018.0,8.4,790179.0,3.210000e+08,257698183.0,678815482.0,2.048360e+09
14,/title/tt2140507//name/nm4043618/,/name/nm4043618/,/title/tt2140507/,The Current War,2017.0,6.5,15878.0,3.000000e+07,2633717.0,5979540.0,1.234113e+07
15,/title/tt10244140//name/nm4043618/,/name/nm4043618/,/title/tt10244140/,Peter Parker Takes His Driving Test,2017.0,7.4,242.0,NaN,NaN,NaN,NaN
16,/title/tt2250912//name/nm4043618/,/name/nm4043618/,/title/tt2250912/,Spider-Man: Homecoming,2017.0,7.4,491196.0,1.750000e+08,117027503.0,334201140.0,8.801669e+08
17,/title/tt7006122//name/nm4043618/,/name/nm4043618/,/title/tt7006122/,"Spider-Man: Homecoming, NBA Finals: Watch the ...",2017.0,7.4,1103.0,NaN,NaN,NaN,NaN
18,/title/tt3531202//name/nm4043618/,/name/nm4043618/,/title/tt3531202/,Pilgrimage,2017.0,5.8,4291.0,5.627208e+06,NaN,NaN,2.368900e+04
19,/title/tt1212428//name/nm4043618/,/name/nm4043618/,/title/tt1212428/,The Lost City of Z,2016.0,6.6,75506.0,3.000000e+07,110175.0,8580410.0,1.926394e+07
20,/title/tt4526546//name/nm4043618/,/name/nm4043618/,/title/tt4526546/,Edge of Winter,2016.0,5.4,3536.0,NaN,NaN,NaN,NaN
21,/title/tt3498820//name/nm4043618/,/name/nm4043618/,/title/tt3498820/,Captain America: Civil War,2016.0,7.8,641123.0,2.500000e+08,179139142.0,408084349.0,1.153296e+09
22,/title/tt1390411//name/nm4043618/,/name/nm4043618/,/title/tt1390411/,In the Heart of the Sea,2015.0,6.9,117858.0,1.000000e+08,11053366.0,25020758.0,9.392076e+07
23,/title/tt5969758//name/nm4043618/,/name/nm4043618/,/title/tt5969758/,Tweet,2015.0,6.7,189.0,NaN,NaN,NaN,NaN
24,/title/tt3556920//name/nm4043618/,/name/nm4043618/,/title/tt3556920/,Wolf Hall,NaN,8.1,9174.0,NaN,NaN,NaN,NaN
25,/title/tt4085696//name/nm4043618/,/name/nm4043618/,/title/tt4085696/,Billy Elliot the Musical Live,2014.0,8.5,1323.0,NaN,NaN,NaN,3.705169e+06
26,/title/tt1894476//name/nm4043618/,/name/nm4043618/,/title/tt1894476/,How I Live Now,2013.0,6.5,27632.0,8.000000e+06,28547.0,60213.0,9.257620e+05
27,/title/tt2692904//name/nm4043618/,/name/nm4043618/,/title/tt2692904/,Locke,2013.0,7.1,131323.0,2.000000e+06,81006.0,1375769.0,5.090608e+06
28,/title/tt3359412//name/nm4043618/,/name/nm4043618/,/title/tt3359412/,Moments,2013.0,6.9,101.0,1.315670e+02,NaN,NaN,NaN
29,/title/tt1649419//name/nm4043618/,/name/nm4043618/,/title/tt1649419/,Lo imposible,2012.0,7.6,191420.0,4.500000e+07,143818.0,19019882.0,1.980872e+08
30,/title/tt1568921//name/nm4043618/,/name/nm4043618/,/title/tt1568921/,Kari-gurashi no Arietti,2010.0,7.6,76954.0,2.300000e+07,6446395.0,19587032.0,1.491846e+08

## Uploading to PostgreSQL
All of our information is now in an array and DataFrame for experimentation.  A fantastic article was written comparing 7 bulk insert methods with benchmarks, (https://naysan.ca/2020/05/09/pandas-to-postgresql-using-psycopg2-bulk-insert-performance-benchmark/).

In [ ]:
# Connect to DB

# Create dictionary PostgreSQL DB parameters:
db_set = {
    "host" : "localhost",
    "database" : "IMDB_test",
    "user" : "postgres",
    "port" : "5432"
}
# db_host = "localhost"
# db_name = "IMDB_test"
# db_user = "postgres"
# db_port = "5432"

# Create function to connect to PostgreSQL DB:
def connectSQL(db_set):
    conn = None
    try:
        conn = psycopg2.connect(
            **db_set,
            password = getpass.getpass("Password:")
#             host = db_host,
#             database = db_name,
#             user = db_user,
#             password = getpass.getpass("Password:"),
#             port = db_port
        )
        print("Database successfully connected.")
    except:
        print("Database failed to connect.")
    return conn

# Test connection
# connectSQL(db_set)

## Method: Save DataFrame to memory using StringIO then copy to SQL
Benchmark comparison shows copying to memory and uploading to be one of the most efficient methods of uploading bulk data to a SQL database.

In [ ]:
# Define function to save DataFrame to memory, then to PostgreSQL
# This function does not upsert

def df_to_mem_to_SQL(connection, dataframe, SQLtable):
    # Save DataFrame to memory with StringIO and return to start of stream
    buffer = StringIO()
    df.to_csv(buffer, index_label = 'id', header = False)
    buffer.seek(0)
    
    # Write to SQLtable
    cursor = connection.cursor()
    try:
        cursor.copy_from(buffer, SQLtable, sep = ",")
        connection.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        connection.rollback()
        cursor.close()
        return 1
    print("Copy complete")
    cursor.close()

## Alternative: Create temporary table and upsert with merge command
Need to upsert removes previous method as an option.  Instead, create a temporary table and perform an upsert table merge to update the relevant databases.  Relevant columns of the full result table can be merged with each database.

This method requires SQLAlchemy.

In [29]:
# User inputs password and creates SQLAlchemy engine
userpass = getpass.getpass("Password:")
conn = sa.create_engine("postgresql://postgres:"+userpass+"@localhost/IMDB_test")

# Clear and create temp_table
conn.execute(
    "DROP TABLE IF EXISTS temp_table"
)
conn.execute(
    "CREATE TABLE temp_table (filmact_id varchar PRIMARY KEY, actor_href varchar, film_href varchar, title varchar, year integer, imdb_rating numeric, rating_qty numeric, budget numeric, opening_wknd numeric, domestic_gross numeric, ww_gross numeric)"
)

# Populate temp_table with result_pd
result_pd.to_sql("temp_table", conn, index = False, if_exists = 'append')
print("Complete")

# Merge temp_table into db_film
conn.execute(
    sa.text("""\
        INSERT INTO db_film (film_href, title, year, imdb_rating, rating_qty, budget, opening_wknd, domestic_gross, ww_gross)
        SELECT film_href, title, year, imdb_rating, rating_qty, budget, opening_wknd, domestic_gross, ww_gross FROM temp_table
        ON CONFLICT (film_href) DO
            UPDATE SET (title, year, imdb_rating, rating_qty, budget, opening_wknd, domestic_gross, ww_gross) = (EXCLUDED.title, EXCLUDED.year, EXCLUDED.imdb_rating, EXCLUDED.rating_qty, EXCLUDED.budget, EXCLUDED.opening_wknd, EXCLUDED.domestic_gross, EXCLUDED.ww_gross)
        """
    )
)

# Merge temp_table into db_filmcredits
conn.execute(
    sa.text("""\
        INSERT INTO db_filmcredits (filmact_id, film_href, actor_href)
        SELECT filmact_id, film_href, actor_href FROM temp_table
        ON CONFLICT (filmact_id) DO NOTHING
        """
    )
)

Password:········
Complete